.about {
  display: flex;
  flex-direction: column;
  align-items: center; // centre tout le contenu

  &__collapses {
    width: 100%;
    max-width: 1000px; // largeur souhaitée
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}












@media (max-width: 425px) {

  /* Banner About */
  .banner {
    height: 200px;
    margin: 20px 0;
  }

  /* Collapses */
  .about__collapses {
    padding: 0 20px;
    gap: 20px;

    .collapse {
      width: 100%;
    }
  }
}
