.footer {
  background: black;
  color: white;
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 50px;

  &__logo {
    height: 40px;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 18px;
  }
}
