.logement {
  margin-top: 30px;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }

  /* Colonne gauche : titre, localisation, tags */
  &__info {
    max-width: 70%;
  }

  &__title {
    font-size: 36px;
    font-weight: 500;
    color: #ff6060;
    margin-bottom: 10px;
  }

  &__location {
    font-size: 18px;
    color: #000;
    margin-bottom: 20px;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .tag {
      background: #ff6060;
      color: #fff;
      padding: 5px 25px;
      border-radius: 10px;
      font-size: 14px;
      font-weight: 500;
    }
  }

  /* Colonne droite : hôte + rating */
  &__host-rating {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__host {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
      text-align: right;
      font-size: 16px;
      line-height: 1.2;
      color: #ff6060;
    }

    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__rating {
    display: flex;
    gap: 8px;

    .star {
      width: 24px;

      &.grey {
        filter: grayscale(100%) brightness(1.8);
      }
    }
  }

  /* Collapses côte à côte */
  &__collapses {
    display: flex;
    gap: 40px;
    margin-top: 30px;

    > div {
      width: 50%;
    }
  }
}










@media (max-width: 425px) {

  .logement {
    padding: 0 20px;

    &__top {
      flex-direction: column;
      gap: 20px;
    }

    /* Titre + localisation */
    &__title {
      font-size: 24px;
    }

    &__location {
      font-size: 16px;
    }

    /* Tags */
    &__tags {
      gap: 8px;

      .tag {
        font-size: 12px;
        padding: 4px 15px;
      }
    }

    /* Rating + Host sur la même ligne */
    &__host-rating {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__rating {
      order: 1;
      gap: 5px;

      .star {
        width: 18px;
      }
    }

    &__host {
    order: 2;

      p {
        font-size: 14px;
      }

      img {
        width: 40px;
        height: 40px;
      }
    }

    /* Collapses */
    &__collapses {
      flex-direction: column;
      gap: 20px;

      > div {
        width: 100%;
      }
    }
  }

  /* Slideshow */
  .slideshow {
    height: 255px;

    img {
      height: 255px;
    }

    .slideshow__counter {
      font-size: 14px;
      bottom: 10px;
    }

    .slideshow__arrow {
      width: 24px;
    }
  }
}
