.notfound {
  text-align: center;
  padding: 80px 0;

  &__code {
    font-size: 180px;
    font-weight: 700;
    color: #ff6060;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 24px;
    margin-bottom: 80px;
    color: #ff6060;
  }

  &__link {
    font-size: 18px;
    text-decoration: underline;
    color: black;
  }
}

















@media (max-width: 425px) {

  .notfound {
    padding: 0 20px;
    text-align: center;

    h1 {
      font-size: 200px;
      line-height: 1;
    }

    p {
      font-size: 16px;
      margin: 20px 0;
    }

    a {
      font-size: 14px;
      text-decoration: underline;
    }
  }
}
