@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Police globale */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; // IMPORTANT : on enlève le padding qui cassait tout
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout */
html, body {
  height: 100%;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout__content {
  flex: 1;
  padding-left: 50px;
  padding-right: 50px;
}



/* Imports */
@import './utils/variables';
@import './components/banner';
@import './components/card';
@import "./components/header";
@import "./components/footer";
@import "./components/about";
@import "./components/collapse";
@import "./components/notfound";
@import "./components/slideshow";
@import "./components/logement";

/* Grille */
.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

/* Container global */
.container {
  max-width: 1240px;
  margin: 0 auto;
}





@media (max-width: 425px) {
.layout__content {
  padding-left: 5px;
  padding-right: 5px;
}

  /* Banner Home */
  .banner {
    height: 200px;
  }
.banner__text {
  position: absolute;
  top: 50%;
  left: 1px;        
  transform: translateY(-50%); 
  color: white;
  font-size: 34px;
  font-weight: bold;
  text-align: left;  
  width: calc(100% - 40px); 
}

  

  /* Grille de cartes */
  .cards-grid {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 20px;
  }

}
