@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}


@import './utils/variables';


html, body {
  height: 100%;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout__content {
  flex: 1; // prend tout l’espace disponible
}


/* Reset simple */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* Banner + Card + Header + About */
@import './components/banner';

@import './components/card';

@import "./components/header";

@import "./components/footer";

@import "./components/about";

@import "./components/collapse";

@import "./components/notfound";




//* style de la grille avec grid */

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;


  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}


.header, .banner, .cards-wrapper {
  width: 1240px;
  max-width: 100%;
}

body {
  padding: 40px 100px; // marge autour du contenu
}

//* Ajustement du footer pour éviter les marges indésirables */
footer {
  margin: 0 -100px;
  padding-bottom: 0;
  margin-bottom: -40px; 
}





.container {
  max-width: 1240px;
  margin: 0 auto;
}
